# AWS Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_REGION=
AWS_SQS_QUEUE_URL=

# AssemblyAI Configuration (for future steps)
ASSEMBLY_AI_API_KEY=

# Application Configuration
LOG_LEVEL=info
TMP_DIR=./tmp   

OPENAI_API_KEY=