# Node modules
node_modules/

# Build outputs
dist/
build/

# TypeScript build info
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# IDEs and editors
.vscode/
.idea/

# Test coverage
coverage/

# Miscellaneous
*.tgz

/tmp
